<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= song.cover %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= song.link %>
  </p>

</div>
